body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f7fe;
  margin: 8px;
}

header {
  width: 100%;
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #f9f7fe;
}

h1 {
  margin: 0;
  font-size: 38px;
  font-weight: 900;
}

.current-weather p {
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-size: 18px;
}

strong {
  color: #f65282;
}

footer p {
  font-size: 14px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  margin: 16px 0;
}

footer {
  padding-top: 15px;
}

a {
  color: #885df1;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #f2f0f9;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.search-bar,
.search-button {
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 21px;
}

.search-bar {
  background-color: #f9f7fe;
  margin-right: 5px;
  width: 75%;
}

.search-button {
  background-color: #885df1;
  color: #fff;
  cursor: pointer;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0;
}

.current-temperature {
  font-size: 80px;
}

.current-temperature-icon {
  font-size: 40px;
  position: relative;
  top: -8px;
  margin-right: 10px;
}

.current-temperature-degree {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.current-temperature strong {
  color: black;
}
